<div class="socials">
  <ul class="list-inline">
     <a href="https://twitter.com/SpaceflightIDX" target="_blank">
       <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
     <a href="https://www.linkedin.com/company/spaceflight-index/" target="_blank">
       <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
     </a>
  </ul>
</div>
<ul class="list">
  <li><a href="mailto:info@spaceflightindex.com">Contact</a></li>
  <li class=""><a href="/cookies" target=”_blank”>Cookies</a></li>
  <li class=""><a href="/pandt" target=”_blank”>Privacy & Terms</a></li>
</ul>
  <p class="text-gray-800 text-xs mx-20 mt-12">
SPACEFLIGHT INDEX LTD,
Company number: 14409574,
Registered office address: 4 Trevaskis Meadow, Connor Downs, Hayle, England, TR27 5FL,
Registered: England</p>
