<ul class="list">
<li><a href="mailto:info@spaceflightindex.com">Contact</a></li>
<li class=""><a href="cookies" target=”_blank”>Cookies</a></li>
<li class=""><a href="pandt" target=”_blank”>Privacy & Terms</a></li>
</ul>
