<div class="text-sm">


  <h2 class="font-bold pb-2">Discover higher levels of life</h2>

  <div>
    Expand your consciousness into a new horizon <br><br>
  </div>

  <h2 class="font-bold pb-2">  The rise of a new perspective begins with exploration <br></h2>
  <div>
  01
  PRE-FLIGHT PROCEDURES <br>
  Each four-day HALO expedition takes place in one of the four bases around the globe. Explorers can invite travel companions to enjoy the pre- and post-flight activities and follow the flight from the ground control center facilities. Day one includes a thorough briefing of the flight where passengers and companions will get familiar with the capsule and flight procedures. The briefing is performed by the flight director and the pilot, and details the procedures for launch, climb, cruise, descent and landing for a relaxed and enriching flight.
 <br><br>
  </div>

  <h2 class="font-bold pb-2">First-class comfort for every desire</h2>
  <div>
    02
    LUXURY HOSPITALITY & GASTRONOMY <br>
    Maximum comfort every step of the way. Every adventurer can fully customize their HALO experience with tailored gourmet cuisine and exclusive hospitality experiences to enjoy with family and friends before lift-off.

<br><br>
  </div>


  <h2 class="font-bold pb-2">Endless discovery throughout the journey</h2>
    <div>
      03
      CHOOSE HOW AND WITH WHOM TO LIVE THE EXPERIENCE <br>
      An opportunity to enhance your understanding of outer space and planet Earth in more ways than one. Explorers can choose how they live their HALO expedition, hand-picking from a curated selection of unique and enlightening experiences in science and culture.
 <br><br>
    </div>


  <h2 class="font-bold pb-2">Reaching the peak of experience</h2>
    <div>
      04
      THE MAGICAL MOMENT <br>
      The climax arrives in the form of a five-hour flight during which our passengers will reach an altitude of 35 km. The capsule combines comfort, modern design, and advanced aerospace technology to deliver our passengers safely to the edge of space and back in style.
 <br><br>
    </div>

    <div>
      TAKE-OFF <br>
    </div>
    <h2 class="font-bold pb-2"> A glimpse into your
      flight with HALO <br><br></h2>


    <h2 class="font-bold pb-2">1
        Time for take-off
    </h2>
    <div>
      Explorers wake early on departure day for a launch before dawn to enjoy the unique view of sunrise in the stratosphere. <br><br>
    </div>


    <h2 class="font-bold pb-2">2
      Rise and shine
    </h2>
    <div>
      After lifting off and reaching altitudes above commercial flights, adventurers can move around the cabin, taking in the views while the capsule gently ascends. <br><br>
    </div>



    <h2 class="font-bold pb-2">3
A whole new world

    </h2>
    <div>
      At the spacecraft apogee in the stratosphere, above 30- kilometers altitude, the curvature of the Earth with its blue halo and the darkness of space will be visible. This powerful sight is known as the Overview Effect.
      Constellations and planets can also be seen above the atmosphere — a breathtaking spectacle few humans have experienced firsthand.
<br><br>
    </div>

    <h2 class="font-bold pb-2">4
Down to Earth

    </h2>
    <div>
      At the spacecraft apogee in the stratosphere, above 30- kilometers altitude, the curvature of the Earth with its blue halo and the darkness of space will be visible. This powerful sight is known as the Overview Effect. Constellations and planets can also be seen above the atmosphere — a breathtaking spectacle few humans have experienced firsthand.
 <br><br>
    </div>

    <h2 class="font-bold pb-2">5
A new perspective

    </h2>
    <div>
      The ground crew will be ready to meet the passengers at the landing point. They will touch down, disembark, and celebrate this life-changing experience with their travel companions. HALO explorers will leave with more than just memories, unlocking a new perspective of the world around them and space above.<br><br>
    </div>

    <h2 class="font-bold pb-2">Life will never be the same
    </h2>
    <div>
      Once back on the ground, HALO explorers will not only celebrate this transformative experience and bask in new memories, but they will take home a newfound perspective of the world around them.
<br><br>
    </div>

</div>
