<div class="text-sm">
  HALO Space is a global Near Space tourism company, which will offer zero-emission commercial flights of 25-40 km altitude allowing to see the curvature of the planet Earth for 4-6 hours. This will be possible thanks to its aerospace balloon that will be equipped with a pressurized capsule with capacity for 8 passengers and a pilot, and which has panoramic windows providing breath-taking 360-degree views.

</div>


