<p class="pb-6">General info and this is whats included</p>


<h2 class="font-bold">New Perspective</h2>
<p class="pb-6" >BECOME AN ASTRONAUT,
BECOME MORE HUMAN.
Having experienced the life-changing Overview Effect firsthand, our hope is that you return from space motivated to deepen your connection to Earth and to humanity. As an astronaut and member of our community, we’re thrilled to democratize space together, for the good of humankind.
</p>


<h2 class="font-bold">Membership</h2>

<p class="pb-6">Human spaceflight is a profound and transformative experience and the pinnacle of the Virgin Galactic astronaut offering. But the true value lies in the entire astronaut experience, from the moment you book until well after your flight. When you secure your reservation to space, you will also gain membership to a unique and long-established global community of Future Astronauts with a shared love of adventure and passion for positive change.</p>

<h2 class="font-bold">Astronaut Preparedness and Training</h2>

<p class="pb-6">Our pre-flight Space Readiness Program consists of specific events, activities, and training designed to leave you physically, mentally and spiritually ready for space. Start to finish, you’ll be guided through every step to ensure your safety and comfort.
Ahead of your spaceflight, you will spend several days training with your fellow astronauts members and the Virgin Galactic team at the world’s first purpose-built commercial spaceport in New Mexico.
Designed by renowned architectural firm Foster + Partners, Spaceport America incorporates a super hangar, crew zones and world-class astronaut areas for a truly unforgettable experience. This is your gateway to space.
</p>


<h2 class="font-bold">Virgin Galactic Spaceflight</h2>
<p class="pb-6">A FIRST-OF-ITS-KIND FLIGHT.
A ONE-OF-A-KIND EXPERIENCE.
Our unique and innovative Spaceflight System enables you and your fellow astronauts to enjoy the most thrilling and awe-inspiring journey of your life, in unparalleled comfort and ease.
</p>



<h2 class="font-bold">Pricing</h2>
<ul>
  <li>Initial deposit: $150,000 *</li>
  <li>Final balance: $300,000</li>
  <li>Total Flight Cost: $450,000</li>
  <li>* Includes $125,000 fully refundable deposit plus $25,000 nonrefundable Future Astronaut community access fee.</li>
  <li>All costs are listed in USD.</li>
</ul>

