<p class="font-bold pb-6 italic text-sm">
  *Please note, Spaceflight Index itself is not an official booking agent / ticket reseller of Virgin Galactic flights.
</p>

<div class="text-sm">

<h2 class="font-bold pb-2">Why We Go</h2>

<div>
  Spaceflight has the unique ability to shift our perspectives, our technology, and even our trajectory as a species. <br><br>

  As the spaceline for Earth, our mission is to transform access to space for the benefit of humankind; to reveal the wonder of space to more people than ever before. <br><br>

  Join us, and help pioneer this exciting new space age for humanity. <br><br>

  Fewer than 700 humans have ever experienced space. As a Virgin Galactic astronaut, your journey marks the dawn of a new space age, where leaving Earth’s atmosphere is an experience no longer reserved solely for professional astronauts. <br><br>

  From the moment you join our global community of pioneering adventurers, to the day you earn your astronaut wings, to the years of telling the greatest story off Earth, your spaceflight can change the world for good. <br><br>
</div>

<h2 class="font-bold pb-2">Spaceflight</h2>

<div>
  Our unique and innovative Spaceflight System enables you and your fellow astronauts to enjoy the most thrilling and awe-inspiring journey of your life, in unparalleled comfort and ease.<br><br>

  As the spaceline for Earth, we’re pleased to offer you an elegant, spaceflight system designed for safety, reusability and customer experience. You’ll be in the expert hands of our highly experienced pilots, all with long flight careers behind them.<br><br>

  At Virgin Galactic, safety has always been our North Star and an ethos that’s deeply embedded into our culture, evidenced by an exhaustive test flight program and highly experienced operational teams drawn from the world of aerospace and aviation.<br><br>

  The Virgin Galactic spaceflight system has been specifically designed to reduce and make risk more manageable, throughout the entire flight.<br><br>

  Vital to this is an air-launched, winged and piloted spaceship with a fully controllable propulsion system, enabling us to cut a flight short, safely and comfortably at any stage.<br><br>
</div>


<h2 class="font-bold pb-2">Pre-Flight</h2>

<div>
  Our pre-flight Space Readiness Program consists of specific events, activities, and training designed to leave you physically, mentally and spiritually ready for space. Start to finish, you’ll be guided through every step to ensure your safety and comfort. <br><br>

  Ahead of your spaceflight, you will spend several days training with your fellow astronauts members and the Virgin Galactic team at the world’s first purpose-built commercial spaceport in New Mexico. <br><br>

  Designed by renowned architectural firm Foster + Partners, Spaceport America incorporates a super hangar, crew zones and world-class astronaut areas for a truly unforgettable experience. This is your gateway to space. <br><br>

  Going to space is the kind of major life event you’ll want your family to be a part of. It’s why we invite all our astronauts to bring up to three guests with them so they can share in the love, awe, and wonder of your spaceflight. <br><br>

  While you participate in pre-flight training your loved ones will enjoy curated activities and top-tier amenities, and on flight day they will get to spectate from grandstand seats. Planned for completion by the time of your flight, you will stay together in all-inclusive, luxury astronaut accommodations in the beautiful New Mexico desert. <br><br>

  Larger groups can also be accommodated by request. <br><br>

  Preparation for your spaceflight begins when you join us. As part of the Future Astronaut community, you will have the option to participate in a structured calendar of readiness actions, culminating in several days of training, all designed to fully prepare you for space. From start to finish, you’ll be guided through every step to ensure your safety and comfort. <br><br>

  You’re never too old to go to space, but our rigorous health screenings will verify you’re fit to fly, whatever your age. That's why we have a detailed pre-flight medical questionnaire and a last-minute checkup for all astronauts to ensure you’re good to go. <br><br>

  We also have a Flight Readiness Program, designed to help you prepare in every way possible for your trip to space. Our Virgin Galactic team will support you during your completion of optional zero-g and centrifuge training and acclimatization. <br><br>
</div>


<h2 class="font-bold pb-2">Membership</h2>
<div>
  Human spaceflight is a profound and transformative experience and the pinnacle of the Virgin Galactic astronaut offering. But the true value lies in the entire astronaut experience, from the moment you book until well after your flight. When you secure your reservation to space, you will also gain membership to a unique and long-established global community of Future Astronauts with a shared love of adventure and passion for positive change. <br><br>

  Together, you’ll anticipate and prepare for your spaceflight, sharing incredible events and experiences along the way. <br><br>

  Beyond invitations to exclusive events and experiences, the Virgin Galactic membership is an opportunity to create a lasting impact and legacy, recognized with unique insignia and mementos. <br><br>
</div>


<h2 class="font-bold pb-2">New Perspective</h2>
<div>
  Having experienced the life-changing Overview Effect firsthand, our hope is that you return from space motivated to deepen your connection to Earth and to humanity. As an astronaut and member of our community, we’re thrilled to democratize space together, for the good of humankind. <br><br>

  From the moment you join us, your space experience can inspire positive change through your participation with Galactic Unite, Virgin Galactic’s outreach initiative. Born out of a collaboration with our very own Future Astronauts, Galactic Unite has invested more than $2 million USD through scholarship, fellowship and grant programs, to support and inspire young people to pursue an education in STEM. <br><br>
</div>

<h2 class="font-bold pb-2">Pricing</h2>
Initial deposit: $150,000 * <br>
Final balance: $300,000 <br>
Total Flight Cost: $450,000 <br><br>
* Includes $125,000 fully refundable deposit plus $25,000 nonrefundable Future Astronaut community access fee. <br>
All costs are listed in USD.
</div>
