<div class="text-sm">
  Virgin Galactic is the world’s first commercial spaceline, and our purpose is to connect people across the globe to the love, wonder and awe created by space travel. We believe that spaceflight has the unique ability to shift our perspectives, our technology, and even our trajectory as a species. As the spaceline for Earth, we aim to transform access to space for the benefit of humankind; to reveal the wonder of space to more people than ever before. Join us, and help pioneer this exciting new space age for humanity. <br><br>

  We’re comprised of hundreds of dedicated and passionate professionals all working towards the same mission – to be the Spaceline for Earth. We believe we can inspire future generations and make it possible to experience our planet from a different perspective.
</div>


