<div class="text-white ml-8 mt-4 mr-8"">
  <h1>Cookies Policy</h1>

  <script id="CookieDeclaration" src="https://consent.cookiebot.com/033a729c-2bf5-4cfc-b839-d7108c9134fb/cd.js" type="text/javascript" async></script>

</div>

