<div class="logo ml-20 mt-10">
  <%= link_to root_path, class: "m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" do %>
    🚀 Space Compare
  <% end %>
</div>

<div class="container">
  <div class="cta text-white">
    <div class="cta_title text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-white to-cyan-500 text-center py-10 ">
      <h1>Find Spaceflights.</h1>
      <h1>Like Earthflights.</h1>
    </div>
    <div class="cta_text w-50 text-center pb-10 text-gray-300">
    <p>Get notified about our offical launch via our newsletter</p>
    </div>
    <div class="lead flex items-center justify-center">
      <div class="xl:w-96">
        <input
          type="text"
          class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
          "
          id="exampleFormControlInput1"
          placeholder="Email"
        />
      </div>
      <button class="btn btn-primary  btn-apply-filter m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-pink-500 hover:to-yellow-500">Sign Up</button>

    </div>
  </div>
</div>




