<div class="logo ml-20 mt-10">
  <%= link_to root_path, class: "m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" do %>
    🚀 Space Compare
  <% end %>
</div>

<!-- <div class="container mt-40 text-white"> -->
  <div class="cta">
    <div class="cta_title text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 text-center py-10 ">
      <h1>Find Spaceflights.</h1>
      <h1>Like Earthflights.</h1>
    </div>
    <div class="cta_text w-50 text-center pb-10 text-gray-300">
    <p>Get notified about our offical launch via our newsletter</p>
    </div>
    <div class="lead flex items-center justify-center">
      <div class="xl:w-96">
        <input
          type="text"
          class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
          "
          id="exampleFormControlInput1"
          placeholder="Email"
        />
      </div>
      <button class="btn btn-primary  btn-apply-filter m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-pink-500 hover:to-yellow-500">Sign Up</button>

    </div>
  </div>
  <div class="explainer ml-20 pt-10 flex flex-wrap">
  <div class="explainer_info text-white max-w-3xl mr-20 mb-10">
    <div class="explainer_title text-3xl text-white font-bold">
      What is Spaceflightindex?
    </div>
    <div class="explainer_text">
      Spaceflightindex is a comparrion site dedicated to spaceflights. <br><br>
      Now consumer astronaunts can find the perfect spaceflight for them in one place, <br> just like booking a flight on planet Earth. <br><br>

      No need for endless web searches.
    </div>
  </div>
  <div class="image">
    <%= image_tag "spacerocket.jpg", class: "w-500 h-40" %>
  </div>
  </div>
  <div class="steps_title explainer_title text-3xl text-white font-bold text-center pb-10">
    Steps
  </div>
  <div class="steps flex justify-around flex-wrap text-center text-white">
    <div class="step">
      ✅
      <div class="step_title font-bold">
        1 - Your requirements
      </div>
      <div class="step_text">
        Vehicle
        Budget
        Where
      </div>
    </div>
    <div class="step">
      🔎
      <div class="step_title font-bold">
        2. Find a flight/company
      </div>
      <div class="step_text">
   Reviews
   Training required
   Videos
   FAQS
      </div>
    </div>
    <div class="step">
      👋
      <div class="step_title font-bold">
        3. Contact
      </div>
      <div class="step_text">
  Speak directly to a rep
      </div>
    </div>
  </div>
<!-- </div> -->




